{% extends "base.html" %}

{% block content2 %}
    <style>
        table {
            border-collapse: collapse;
            margin-left: 25%;
        }
        a {
            text-decoration: none;
        }
        table, th, td {
            font-size: 46px;
            border: 1px solid black;
        }
        td
        {
            padding:10px 30px;
        }
    </style>
    {% if dinners %}
    {% for dinner in dinners %}
        <div>
            <h2>{{ dinner['name']  }}</h2> at {{ dinner['time'] }}
        </div>
        <table>

            <tr>
                <th>Meal name</th>
                <td>Weight</td>
                <td>Nutrition_value</td>
                <td>Vitamins</td>
            </tr>

        {% for meal in dinner['meals'] %}

            <tr>
                <th>{{ meal['name'] }}</th>
                <td>{{ meal['weight'] }}</td>
                <td>{{ meal['nutrition_value'] }}</td>
                <td>{{ meal['vitamins'] }}</td>
            </tr>

        {% endfor %}
        </table>
        <h1>Sum of nutrition values: {{ dinner['sum_nutrition'] }} kcal.</h1>
    {% endfor %}
    {% else %}
    <h3>No records, yet!</h3>
    {% endif %}


{% endblock %}
