{% extends "base.html" %}

{% block content2 %}
<div class="alert alert-info" role="alert"><h3>Add dinner</h3></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>


    <table id="myTable" style="margin-left:2%">
      <tbody>
          <tr>
              <td>1.</td>
          </tr>
        <tr>
            <td><input class="meal_name form-control" placeholder="Meal name" id="meal_1"></td>
            <td><input class="meal_weight form-control" placeholder="Weight (grams)" id="weight_1"></td>
        </tr>
        <tr>
            <td>
            <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                <div class="form-group">
                    <span class="btn btn-default btn-file">
                        Browse <input id="upload_1" type=file name=photo>
                    </span>
                    <span class="input-group-btn">
                        <button id="b_1" onclick="get_prediction(this.id)" class="btn btn-default" type="button">Upload</button>
                    </span>
                    <!-- <input id="b_1" onclick="get_prediction(this.id)" type="button" value="Upload"> -->
                </div>
            </form>
            </td>
        </tr>
      </tbody>
    </table>
    <br/><br/><br/>

    <table style="margin-left: 2%;">
        <tbody>
            <tr>
                <td>
                    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" style="color: red" id="addMeal"><span style="font-size: 1.2em;">Add meal</span></button>
                        </span>
                    </form>
                </td>
                <td>
                    <span class="input-group-btn">
                        <button type="submit" onclick="send_data()" class="btn btn-default" style="color: red" id="applyDinner"><span style="font-size: 1.2em;">Submit</span></button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <script>
        var quantity = 1;
        $("#addMeal").click(function() {
            quantity += 1;
            $("#myTable").append(`<tr><td>${quantity}.</td></tr><tr><td></td></tr><tr>\n` +
                `            <td><input class=\"meal_name form-control\" placeholder=\"Meal name\" id=\"meal_${quantity}\"></td>\n` +
                `            <td><input class=\"meal_weight form-control\" placeholder=\"Weight (grams)\" id=\"weight_${quantity}\"></td>\n` +
                "            <td>\n" +
                    "</td></tr><tr><td>"+
                "            <form method=POST enctype=multipart/form-data action=\"{{ url_for('upload') }}\">\n" +
                `                <div class="form-group"><span class="btn btn-default btn-file">Browse <input id=\"upload_${quantity}\" type=file name=photo></span>\n` +
                `                <span class="input-group-btn"><input id=\"b_${quantity}\" onclick=\"get_prediction(this.id)\" class=\"btn btn-default\" type=\"button\" value=\"Upload\"></button></span></div>\n` +
                "            </form>\n" +
                "            </td>\n" +
                "        </tr>")
        });


        function get_prediction(id){
            let num = id.split('_');
            num = num[num.length - 1];
            const form_data = new FormData();
            form_data.append('photo', $(`#upload_${num}`)[0].files[0]);
            $.ajax({
                type: 'POST',
            url: '/upload',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
                }).then(resp => (
                    document.getElementById(`meal_${num}`).value = resp
                ));
        }

        function send_data() {
            const meals_names = [];
            const meals_weights = [];
            for (const i of document.getElementsByClassName("meal_name")){
               meals_names.push(i.value)
            }
            for (const i of document.getElementsByClassName("meal_weight")){
               meals_weights.push(i.value)
            }
            const final = [];
            for (let i =0; i < meals_names.length; i++){
                if ((meals_names[i] !== '') && (meals_weights[i] !== ''))
                final.push({name: meals_names[i], weight: meals_weights[i]})
            }
            $.ajax({
                type: 'POST',
            url: '/add_dinner',
            data: JSON.stringify(final),
            contentType: "application/json",
            cache: false,
            processData: false,
                }).then(resp => resp === '200, Ok' ? alert('Done!') : alert('Some error!')
            )

        }

    </script>
{% endblock %}
